@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #eee;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: rgb(136, 136, 136);
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* Navbar */
#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-items{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap: 10px;
}

#navbar-items li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

#navbar-items a{
    height: 100%;
    width: 100%;
    padding: 25px;
    display: block;
}

#navbar-items > li:hover {
    cursor: pointer;
    background-color: rgb(136, 136, 136);
}

/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('/img/museum4.jpeg') no-repeat center center/cover;

    /* Overlay */
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}

/* About */
#about {
    width: 100%;
    background: #222;
    color: white;
    padding: 50px;
}

#about-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 90px;
    border-radius: 5px;
}

.about-title {
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

#game {
    background: #ffffff;
    text-align: center;
    margin-left: 200px;
    margin-top: 100px;
} 


/* Reviews */
.reviews {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

#reviews {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#reviews-container {
    width: 100%;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
}

.reviews .reviews-image {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
}

/* Footer */
.container {
    max-width: 1170px;
    margin: auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

ul{
    list-style: none;
    color: #ffffff;
}

.footer {
    background: rgb(11, 11, 11);
    padding: 70px 0
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

